html {
      font-family:Arial, Calibri;
      background:#e2e2e2;
      color:#36393f;
      margin:0;
      padding:0;
      }

body {
      margin:0;
      padding:0;
      }

h1, h4   {
          color:#2d2d2d;
          }

nav {
     width:100%;
     height:50px;
     top:0px;
     left:0px;
     background:#d300d3;
     display:block;
     }

nav ul {
        margin:0;
        padding:0;
        }

nav ul li {
           position:relative;
           list-style:none;
           height:25px;
           padding:15px 0px 10px 0px;
           width:150px;
           border-right:1px solid grey;
           text-align:center;
           float:left;
           color:#e2e2e2;
           }

nav ul li {
           transition:all 300ms;
           -moz-transition:all 300ms;
           -ms-transition:all 300ms;
           -o-transition:all 300ms;
           -webkit-transition:all 300ms;
           }

nav ul li:hover {
                 background:grey;
                 }

nav ul li a, nav ul li {
                        color:#fff;
                        text-decoration:none;
                        letter-spacing:1px;
                        }

nav ul li ul {
              position:absolute;
              top:0px;
              left:-1px;
              background:#d300d3;
              display:none;
              }

nav ul li ul li {
                 border-bottom:1px solid grey;
                 border-left:1px solid grey;
                 }

#btnd {
          background-color:#d300d3;
          position:relative;
          top:-15px;
          border:none;
          width:100%;
          height:50px;
          font-size:16px;
          color:#e2e2e2;
         }

#btnd:hover {
             background-color:grey;
             color:#2d2d2d;
             cursor:pointer;
             }

#btnw {
       background-color:#d300d3;
       position:relative;
       top:-15px;
       border:none;
       width:100%;
       height:50px;
       font-size:16px;
       color:#e2e2e2;
       }

#btnw:hover {
             background-color:grey;
             color:#2d2d2d;
             cursor:pointer;
             }

#con1 {
       text-align:left;
       float:left;
       padding:15px;
       width:45%;
       min-height:1000px;
       max-height:auto;
       }

#con2 {
       text-align:left;
       float:right;
       padding:15px;
       width:45%;
       height:auto;
       }

#img01 {
        width:30%;
        float:right;
        margin:0px 0px 0px 0px;
        }

#img02 {
        width:50%;
        float:right;
        margin:0px 0px 0px 0px;
        }

#game {
       width:500px;
       height:200px;
       background-image:url("../img/background.png");
       border:1px solid black;
       position:absolute;
       z-index:1;
       }

#character {
            width:20px;
            height:50px;
            background-image:url("../img/character.png");
            position:relative;
            top:150px;
            left:10px;
            z-index:5;
            }

.animate{
         animation:jump 500ms;
         }

@keyframes jump{
                0%{top:150px;
                   left:10px;}
                20%{top:120px;
                    left:15px;}
                30%{top:110px;
                    left:20px;}
                45%{top:100px;
                    left:25px;}
                55%{top:100px;
                    left:25px;}
                70%{top:110px;
                    left:25px;}
                80%{top:120px;
                    left:25px;}
                85%{top:120px;
                    left:25px;}
                95%{top:150px;
                     left:20px;}
                100%{top:150px;
                     left:15px;}
                }

#block {
        width:20px;
        height:20px;
        background-image:url("../img/enemy.png");
        position:relative;
        top:90px;
        left:480px;
        animation:block 1s infinite linear;
        z-index:4;
        }

@keyframes block {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }

#block1 {
        width:40px;
        height:20px;
        background-image:url("../img/bush.png");
        position:relative;
        top:110px;
        left:480px;
        animation:block 900ms infinite linear;
        z-index:3;
        }

@keyframes block1 {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }

#block2 {
        width:40px;
        height:20px;
        background-image:url("../img/cloud.png");
        position:relative;
        top:-20px;
        left:460px;
        animation:block 1500ms infinite linear;
        z-index:2;
        }
@keyframes block2 {
                  0%{left:480px;}
                  100%{left:-40px;}
                  }